.screen1 {
    .box {
        display: none;
    }
    .tu1 {
        width: 100%;
    }
    .tu2 {
        width: 100%;
        position: absolute;
        top: 113rem/@baseFontSize;
        left: 0;
    }
    .tu3 {
        width: 100%;
        position: absolute;
        top: 330rem/@baseFontSize;
        left: 0;
    }
    .tu4 {
        width: 108rem/@baseFontSize;
        position: absolute;
        top: 820rem/@baseFontSize;
        left: 268rem/@baseFontSize;
        animation: loadOut 1s linear 5 alternate forwards;
    }
    .fh {
        width: 60rem/@baseFontSize;
        position: absolute;
        top: 1044rem/@baseFontSize;
        right: 30rem/@baseFontSize;
    }
    .fhdl {
        font-family: "audiText";
        position: absolute;
        top: 1055rem/@baseFontSize;
        right: 100rem/@baseFontSize;
        color: #fff;
        font-size: 18rem/@baseFontSize;
        animation: loadOut 1s linear 5 alternate forwards;
    }
}


/*------------------------------*/

.screen2 {
    background-color: #d00e31;
    .bg_color {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #b1b6b8;
        width: 100%;
        height: 870rem/@baseFontSize;
    }
    .tu {
        width: 100%;
        .tu1 {
            margin-top: 76rem/@baseFontSize;
        }
        .tu2 {
            margin-top: 255rem/@baseFontSize;
        }
        .tu3 {
            margin-top: 46rem/@baseFontSize;
        }
        .tu4 {}
    }
}


/*------------------------------*/

.screen3 {
    background-color: #0a162c;
    .tu1 {
        width: 100%;
    }
    .tu2 {
        width: 100%;
        position: absolute;
        top: 515rem/@baseFontSize;
        left: 0rem/@baseFontSize;
    }
    .mulu {
        width: 100%;
        position: absolute;
        top: 590rem/@baseFontSize;
        left: 0rem/@baseFontSize;
        ul {
            width: 100%;
            padding: 0;
            li {
                a {
                    font-family: "audiTextENormal", "audiTextBlod", "microsoft yahei", sans-serif;
                    display: block;
                    width: 100%;
                    color: #fff;
                    text-align: center;
                    font-size: 20rem/@baseFontSize;
                    line-height: 2;
                }
            }
        }
    }
}


/*------------------------------*/

.text {
    width: 100%;
    font-size: 0.24rem;
    padding: 0 0.44rem;
    font-family: "audiTextENormal", "audiText", "microsoft yahei", sans-serif;
    text-align: justify;
    p {
        font-size: 0.24rem;
        color: #000;
        margin-bottom: 0;
        text-indent: 2em;
    }
}

.text-color1 {
    p {
        color: #b1b7b8;
    }
}

.text2 {
    font-family: "audiTextEXTENDEDBOLD";
    width: 100%;
    padding: 0 0 0 0.44rem;
    font-size: 0.58rem;
    line-height: 1.1;
    color: #fff;
    text-align: left;
}

.text3 {
    font-family: "audiTextBlod";
    width: 100%;
    padding: 0 0 0 0.44rem;
    font-size: 0.48rem;
    line-height: 1.5;
    color: #fff;
    text-align: left;
}

.text4 {
    font-family: "audiTextBlod";
    width: 100%;
    padding: 0 0 0 0.44rem;
    font-size: 0.28rem;
    line-height: 2;
    color: #000;
    text-align: left;
}


/*------------------------------*/

.screen4 {
    .tu1 {
        width: 100%;
        .tu1_2 {
            width: 100%;
            position: absolute;
            top: 675rem/@baseFontSize;
            left: 0rem/@baseFontSize;
        }
    }
}


/*------------------------------*/

.screen5 {
    .tu1 {
        width: 100%;
        .wz {
            width: 100%;
            position: absolute;
            top: 166rem/@baseFontSize;
            left: 0rem/@baseFontSize;
            font-family: "audiTextEBlod";
            color: #fff;
            font-size: 72rem/@baseFontSize;
            line-height: 1;
            text-align: center;
        }
    }
    .box {
        background-color: #d00e31;
        h2 {
            font-family: "audiTextBlod";
            font-weight: 300;
            color: #fff;
            font-size: 50rem/@baseFontSize;
            line-height: 1;
            text-align: center;
            margin: 0;
        }
        p {
            color: #fff;
        }
        .sj_color {
            width: 0;
            height: 0;
            border-top: 316rem/@baseFontSize solid #d00e31;
            border-right: 660rem/@baseFontSize solid #fff;
            overflow: hidden;
        }
    }
}


/*------------------------------*/

.screen6 {
    .wz1 {
        background-color: #595757;
        padding: 32rem/@baseFontSize 0;
    }
    .page_title_tu {
        width: 191rem/@baseFontSize;
        padding: 0 0 0 0.44rem;
        margin-bottom: 0.2rem;
    }
}


/*------------------------------*/

.screen7 {
    .tu1 {
        position: relative;
        .wz {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgba(207, 0, 39, .7);
            padding: 32rem/@baseFontSize 0;
        }
        .page_title_tu {
            width: 167rem/@baseFontSize;
            padding: 0 0 0 0.44rem;
            margin-bottom: 0.2rem;
        }
    }
}


/*------------------------------*/

.screen8 {
    .tu1 {
        position: relative;
        .wz {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgba(207, 0, 39, .7);
            padding: 32rem/@baseFontSize 0;
        }
        .page_title_tu {
            width: 167rem/@baseFontSize;
            padding: 0 0 0 0.44rem;
            margin-bottom: 0.2rem;
        }
    }
}


/*------------------------------*/

.screen9 {
    .tu1 {
        position: relative;
        .wz {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .7);
            padding: 32rem/@baseFontSize 0;
        }
        .page_title_tu {
            width: 167rem/@baseFontSize;
            padding: 0 0 0 0.44rem;
            margin-bottom: 0.2rem;
        }
    }
}


/*------------------------------*/

.screen10 {
    .tu1 {
        position: relative;
        .wz {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .7);
            padding: 32rem/@baseFontSize 0;
        }
        .page_title_tu {
            width: 167rem/@baseFontSize;
            padding: 0 0 0 0.44rem;
            margin-bottom: 0.2rem;
        }
    }
}


/*------------------------------*/

.screen11 {
    .tu1 {
        position: relative;
        .wz {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .7);
            padding: 32rem/@baseFontSize 0;
        }
        .page_title_tu {
            width: 167rem/@baseFontSize;
            padding: 0 0 0 0.44rem;
            margin-bottom: 0.2rem;
        }
    }
}


/*------------------------------*/

.screen12 {
    .wz1 {
        .page_title_tu {
            width: 167rem/@baseFontSize;
            padding: 0 0 0 0.44rem;
            margin-bottom: 0.2rem;
        }
        >div {
            color: #000;
        }
    }
}


/*------------------------------*/

.screen13 {
    .xzt {
        padding: 0 0.44rem 0 0.44rem;
        font-family: "audiTextENormal", "audiText";
        color: #000;
        font-size: 22rem/@baseFontSize;
        line-height: 1.5;
        h4 {
            color: #cf0027;
            font-size: 22rem/@baseFontSize;
            line-height: 1.5;
        }
        ul {
            margin: 0;
            padding: 0;
            margin-bottom: 46rem/@baseFontSize;
            li {
                font-size: 22rem/@baseFontSize;
                line-height: 1.5;
            }
        }
        .name_tel {
            font-family: "audiTextENormal", "audiText";
            font-size: 0.24rem;
            line-height: 0.4rem;
            color: #221815;
            cursor: pointer;
        }
        .name_tel>div {}
        .name_tel input {
            width: 4rem;
            height: 0.4rem;
            padding-left: 5px;
            border: 1px solid #aaa;
            font-family: "audiTextENormal", "audiText";
            font-size: 0.24rem;
            line-height: 0.4rem;
            color: #221815;
            background-color: #fff;
        }
        .tijiao {
            width: 100%;
            padding: 0.3rem 0;
        }
        .tijiao span {
            display: block;
            width: 2rem;
            height: 0.6rem;
            border-radius: 0.3rem;
            font-family: "audiTextENormal", "audiText";
            font-size: 0.3rem;
            line-height: 0.6rem;
            color: #fff;
            background-color: #cf0027;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}


/*------------------------------*/

.screen14 {
    background-color: #cf0027;
}


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*------------------------------*/


/*加载动画*/

.loading {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999999;
}

.loading img {
    width: 33%;
    margin: 50% auto 0;
    display: block;
}

.loading .progress {
    width: 85%;
    height: 3px;
    margin: 3% auto 0;
    background-color: #ccc;
    border-radius: 2px;
}

.loading .progress div {
    width: 100%;
    height: 100%;
    background-color: #ce0027;
    -webkit-animation: loading 7s linear forwards;
    animation: loading 7s linear forwards;
}

@-webkit-keyframes loading {
    0% {
        width: 0;
    }
    20% {
        width: 15%;
    }
    23% {
        width: 15%;
    }
    28% {
        width: 40%;
    }
    30% {
        width: 40%;
    }
    95% {
        width: 90%;
    }
    98% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

@keyframes loading {
    0% {
        width: 0;
    }
    20% {
        width: 15%;
    }
    23% {
        width: 15%;
    }
    28% {
        width: 40%;
    }
    30% {
        width: 40%;
    }
    95% {
        width: 90%;
    }
    98% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes loadOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*音乐*/

#music {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.music_btn {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 5%;
    right: 3%;
    z-index: 9999999;
    opacity: 0.5;
}

.music_btn img {
    width: 100%;
    height: 100%;
}

.music_on s {
    display: block;
    width: 9px;
    height: 13px;
    background: url(../images/icon_music.png) no-repeat scroll top left;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.music_on s:nth-child(1) {
    -webkit-animation: music1 2s infinite;
    animation: music1 2s infinite;
}

.music_on s:nth-child(2) {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -webkit-animation: music2 2s 1s infinite;
    animation: music2 2s 0.5s infinite;
}

.music_on s:nth-child(3) {
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -webkit-animation: music3 2s 1.5s infinite;
    animation: music3 2s 1.5s infinite;
}

@-webkit-keyframes music1 {
    0% {
        top: 0;
        left: 0;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: -15px;
        left: -15px;
        opacity: 0;
    }
}

@keyframes music1 {
    0% {
        top: 0;
        left: 0;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: -15px;
        left: -15px;
        opacity: 0;
    }
}

@-webkit-keyframes music2 {
    0% {
        top: 0;
        left: 0;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: -20px;
        left: -8px;
        opacity: 0;
    }
}

@keyframes music2 {
    0% {
        top: 0;
        left: 0;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: -20px;
        left: -8px;
        opacity: 0;
    }
}

@-webkit-keyframes music3 {
    0% {
        top: 0;
        left: 0;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: -30px;
        left: 2px;
        opacity: 0;
    }
}

@keyframes music3 {
    0% {
        top: 0;
        left: 0;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: -30px;
        left: 2px;
        opacity: 0;
    }
}